name: Export Godot (godot-ci)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    env:
      GODOT_VERSION: "4.5"    # For use inside commands
      EXPORT_NAME: "MyGame"

    container:
      image: barichello/godot-ci:4.5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Godot export templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable \
             ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable

      - name: Export Windows
        run: |
          mkdir -p build/windows
          godot --headless --verbose --export-release "Windows Desktop" "build/windows/${EXPORT_NAME}.exe"

      - name: Upload builds
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.EXPORT_NAME }}-builds
          path: build/
